.yggdrasil {
  width: 131rem;
  height: fit-content;
  align-self: stretch;
  svg {
    path {
      fill: #dadada !important;
    }
  }
}

#about_section {
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: row;
  padding-top: 5rem;
  gap: 4rem;
  .text_content {
    display: flex;
    flex-direction: column;
    .hello_text {
      font-size: 5rem;
    }
    .description_text {
      margin-top: 2.5rem;
      width: 80%;
    }
  }
}
