#about_section {
  .main-content {
    .yggdrasil {
      width: 50%;
      z-index: 1;
      svg {
        opacity: 0;

        path {
          stroke: #dadada;
          fill: transparent;
        }
      }
    }

    display: flex;
    .text_content {
      width: 50%;
      display: flex;
      flex-direction: column;
      .hello_text {
        margin-top: 1rem;
        font-size: 7rem;
        font-family: 'Norse';
        span {
          display: inline-block;
        }
      }
      .description_text {
        width: 50%;
        margin-top: 2.5rem;
        z-index: 2;
      }

      .about {
        align-self: end;
        z-index: 2;
      }
      .contact_me {
        align-self: end;
        margin-top: auto;
        font-size: 1rem;
        display: flex;
        a {
          cursor: none;
        }
        svg {
          width: 10rem;
          height: 10rem;

          path {
            transition: 1s fill;
            stroke: #dadada;
            fill: transparent;
          }
          &:hover {
            &#mail {
              #header {
                path {
                  fill: #fff;
                }
              }
              #borders {
                path {
                  fill: #ff6a6a;
                }
              }
              #body {
                path {
                  fill: #fff;
                }
              }
              #Border {
                path {
                  fill: #fdad7a;
                }
              }
            }

            &#linked_in {
              #Text {
                path {
                  fill: #fff;
                }
              }
              #Border {
                path {
                  fill: #0a66c2;
                }
              }
            }
          }
        }
      }
    }
  }

  .background-content {
    .circle {
      background: #384b70;
      width: 13rem;
      height: 13rem;
      position: absolute;
      top: 10%;
      left: 70%;
      border-radius: 50%;
      animation: circle 10s infinite alternate ease-in-out;
    }

    @keyframes circle {
      from {
        transform: translate(-1rem, -1rem);
      }
      to {
        transform: translate(1rem, 1rem);
      }
    }

    .rectangle {
      background: #b93b3b;
      width: 27rem;
      height: 5rem;
      position: absolute;
      top: 30%;
      left: 71%;
      transform: rotate(129deg);
      border-radius: 15px;
      animation: rectangle 10s infinite alternate ease-in-out;
    }

    @keyframes rectangle {
      from {
        transform: translate(0rem, 0rem) rotate(129deg);
      }
      to {
        transform: translate(1rem, -1rem) rotate(129deg);
      }
    }

    .three-angle {
      position: absolute;
      width: 0;
      height: 0;
      border-left: 9rem solid transparent;
      border-right: 9rem solid transparent;
      border-bottom: 13rem solid #384b70;
      top: 70%;
      left: 5%;
      z-index: 0;
      transform: rotate(35deg);
      animation: three-angle 10s infinite alternate ease-in-out;
    }

    @keyframes three-angle {
      from {
        transform: rotate(35deg);
      }
      to {
        transform: rotate(56deg);
      }
    }
  }
}
