#experience__section {
  .company_timelines {
    margin: 1rem;

    border-left: 0.2rem solid #dadada;
  }

  .exp_container {
    margin: 1rem 2rem 1rem 2rem;
    display: flex;
    flex: 1 1;
    justify-content: space-between;
    height: 90%;
  }
}
