* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Nato';
  src: url('../asset/fonts/NotoSans-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Nato';
  src: url('../asset/fonts/NotoSans-Bold.ttf');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Nato';
  src: url('../asset/fonts/NotoSans-Light.ttf');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Nato';
  src: url('../asset/fonts/NotoSans-Medium.ttf');
  font-style: normal;
  font-weight: 500;
}

body {
  background-color: #222222;
  color: #dadada;
  font-family: 'Nato';
  font-weight: 400;
  margin: 0 3rem 0 3rem;
  overflow: hidden;
}

.container {
  section {
    height: calc(100vh - 6rem);
    margin: 0 6rem 0 0;
    position: absolute;
    width: 90%;
    z-index: 1;
    visibility: hidden;
    background-color: #222222;
  }

  section.active {
    z-index: 2;
    visibility: visible;
  }

  .transition {
    width: 100%;
    height: calc(100vh - 6rem);
    position: absolute;
    visibility: visible;
    z-index: 3;
    top: 0px;
    left: 0px;
    background-color: #222;
    margin-top: 4rem;
    transform: translateX(-200vh);
  }
}
