#skills_section {
  .header {
    font-size: 5rem;
  }
  .border__container {
    border-top: 0.2rem #dadada solid;
    border-left: 0.2rem #dadada solid;
    height: calc(100vh - 14rem);
    position: relative;
  }

  .main__draw__container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
  }

  @mixin skill {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #434343;
    stroke-width: 0.15rem;
    stroke: #dadada;

    text {
      text-anchor: middle;
      dominant-baseline: middle;
      fill: #dadada;
      stroke: none;
    }

    &.active {
      background-color: #dadada;
      color: #434343;
    }

    &:hover {
      background-color: #dadada;
      color: #434343;
    }
  }

  .skill_lvl_1 {
    @include skill;
    font-size: 3rem;
    font-weight: bold;
    
  }

  .skill_lvl_2 {
    @include skill;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .skill_lvl_3 {
    @include skill;
    font-size: 0.8rem;
    font-weight: bold;
  }
}
